<h1>Movies</h1>
  <br />
  <div style="font-size:25px;"><%= link_to "#{@movie.title}", movie_path(@movie.id) %></div>
  <div class="wrapper">
    <div class="box a">
      <br />
      <%= @movie.description %>
      <br /><br />
      <div style="font-size:25px;">Category: <%= @movie.category.try(:name) %></div> <br />
      Rating: <%= @movie.rating %>/10
    </div>
  </div><br /><br />
<div style="font-size:25px;"><%= link_to "Add Movie", new_movie_path %></div>
